.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
.btn {
    width: 200px;
}
  
.drink-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
.card {
    border: none;
}
  
.card .card-img-top {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
  
.info-card {
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}
  
.form-control {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
svg {
    transition: 0.2s;
}
  
svg:hover {
    cursor: pointer;
    transform: scale(1.5);
}
.card img {
    transition: .2s;
}
  
.card img:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: scale(1.03);
    
}
  
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #fff;
  color: black;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.175);
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
  
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
  
  
@media screen and (max-width: 768px) {
    
    .card {
        width: 20rem !important;
    }
}